.params {
	margin: 0 0 18px 15px;
}
.param {
	padding: 0 0 8px;
}
	.param label {
		display: block;
		float: left;
		width: 140px;
		height: 29px;
		line-height: 29px;

		font-size: 12px;
	}
	.param input {
		float: left;
		padding: 7px 5px;
		width: 200px;
	}
#btn {
	padding: 5px 0 20px 15px;
}

.advanced_btn {
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    display: inline-block;
    padding: 0 0 8px;
    margin: 0;
}
.advanced {
    display: none;
}

.dwolla_button {
	text-decoration: none !important;
}